*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

body {
	margin: 0 auto;
	font-family: 'Roboto Condensed', sans-serif;
}

.container {
	width: 1000px;
	margin: 0 auto;
}

hr {
    opacity: 0.3;
    margin-top: 2px
}

.overlay {
    background-color: rgba(35, 159, 231, 0.6);
    width: 100%;
    height: 100%;
}

.line {
    border: 2px solid #236ee7;
    width: 40px;
    margin: 10px 475px 30px;
    border-radius: 100px
}


.line-2 {
    border: 2px solid #FFF;
    width: 40px;
    margin: 10px 475px 30px;
    border-radius: 100px
}

.line-3 {
    border: 2px solid #315cb8;
    width: 40px;
    border-radius: 200px;
}

.clear {
    clear: both
}

/* Start Header */

.header {
    height: 663px;
    text-align: center;
    background-image: url(../image/maxresdefault.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #315db6;
}

.header .navbar {
	overflow: hidden;
}

.header .navbar .logo {
	float: left;
}

.header .navbar .logo h1 {
    margin: 7px 0 0 10px;
    color: #FFF;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: normal;
    border: 1px solid #FFF;
    padding: 3px 15px;
    border-radius: 5px
}

.header .navbar .list {
	float: right;
}

.header .navbar .list ul {
	list-style: none;
}

.header .navbar .list ul li {
	display: inline-block;
    transition: all .3s ease-in-out;
}

.header .navbar .list ul li a {
	text-decoration: none;
	margin-right: 15px;
	color: #FFF;
    text-transform: capitalize;
    font-size: 14px;
    
}

.header .navbar .list ul li:hover {
    transform:translateY(-2px);
}
.header .head {
    overflow: hidden
}

.header .head .left {
    float: left;
    width: 45%;
    color: #FFF;
    margin-top: 50px
}

.header .head .left p:first-of-type {
    font-size:100px;
    margin-bottom: 20px;
    font-weight: normal;
    text-transform: uppercase
}

.header .head .left p:nth-last-of-type(2) {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 10px
}

.header .head .left p:last-of-type {
    font-size: 18px;
    margin-top: 0;
    line-height: 2
}

.header .head .right {
    float: right;
}

.header .head .right img {
    height: 400px;
    margin-top: 60px
}

.header .head .arrow {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 40px 0
}

.header .head .arrow i {
    border: 1px solid #236ee7;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    line-height: 30px;
    cursor: pointer;
    color: #236ee7;
    transition: all .5s ease-in-out;
}

.header .head .arrow i:hover {
    background-color: #fff
}

/* End Header */


/* Start Features */

.features {
    text-align: center
}

.features p:first-child {
    font-size: 30px;
    color: #325bb7;
    margin-bottom: 0
}

.features .amazing {
    float: left;
    width: 26%;
    margin: 0 3.66666%;
    border: 1px solid #FFF;
    border-radius: 10px;
    height: 320px;
    transition: all .3s ease-in-out;
     
}

.features .amazing:hover {
    transform:scaleY(-10px);
    box-shadow: 0px 1px 10px -1px;
    cursor: pointer
}

.features .amazing p:first-of-type {
    font-size: 25px;
    margin-top: 15px;
    color: #58677c;
}

.features .amazing:hover p:first-of-type {
    color: #325bb7;
}

.features .amazing p:last-of-type {
    font-size: 15px;
    line-height: 2;
    margin: 0 20px;
    color: #6f8197;
}

.features .amazing i {
    color: #239fe7;
    border: 1px solid #b6d5ff;
    border-radius: 50%;
    height: 120px;
    width: 120px;
    line-height: 120px;
    background-color: #b6d5ff;
    margin-top: 20px
}

.about {
    overflow: hidden;
    background-color: #f3f4f6;
    margin: 10px 0 0 0;
}

.about .info {
    float: left;
    width: 45%
}

.about .info h1{
    color: #325bb7;
    font-weight: normal;
    margin-bottom: 10px;
    margin-top: 50px
}

.about .info p {
    color: #6f8197;
    margin-bottom: 40px
}

.about .info .apple {
    float: left;
    margin: 0 30px 0 0;
    padding: 0 15px;
    border: 2px solid #315db6;
    border-radius: 50px;
    height: 50px;
    line-height: 22px;
    cursor: pointer
}

.about .info .apple i,
.about .info .android i{
    position: absolute;
    padding: 5px 0 0 5px;
    color: #6f8197
}

.about .info .apple p,
.about .info .android p{
    margin: 0 25px 0 40px;
}

.about .info .apple h3,
.about .info .android h3{
    margin: 0 20px 0 50px;
    color: #6f8197;
    font-weight: normal
}

.about .info .android {
    float: left;
    padding: 0 15px;
    border: 2px solid #315db6;
    border-radius: 30px;
    height: 50px;
    line-height: 22px;
    cursor: pointer
}

.about .hand-phone {
    float: right;
}

.about .hand-phone img {
    height: 450px;
    width: 400px;
    margin-top: 20px;
}

.features-2 {
    height: 663px;
    background-image: url(../image/maxresdefault.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFF
}

.features-2 .info {
    text-align: center;
    overflow: hidden
}

.features-2 .info p:first-child {
    font-size: 30px;
    color: #FFF;
    margin-bottom: 0
}

.features-2 .info p:last-child {
    line-height: 2;
    color: #d4e7ed
}

.features-2 .info-2 {
    overflow: hidden;
}

.features-2 .info-2 .icon-1-parent {
    float: left;
    width: 33%;
    margin-top: 25px
}

.features-2 .info-2 .icon-1-parent .icon-1 .app {
    width: 72%;
    float: left;
    text-align: right
}

.features-2 .info-2 .icon-1-parent .icon-1 .app h3 {
    margin-bottom: 0
}

.features-2 .info-2 .icon-1-parent .icon-1 .app p {
    margin-bottom: 10px;
    margin-top: 10px;
    color: #d4e7ed
}

.features-2 .info-2 .icon-1-parent .icon-1 i {
    border: 1px solid #FFF;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    line-height: 70px;
    text-align: center;
    float: right;
    margin-top: 35px
}

.features-2 .info-2 .icon-2-parent {
    float: right;
    width: 33%;
    margin-top: 25px
}

.features-2 .info-2 .icon-2-parent .icon-2 .app-2 {
    width: 72%;
    float: right;
    text-align: left
}

.features-2 .info-2 .icon-2-parent .icon-2 .app-2 h3 {
    margin-bottom: 0
}

.features-2 .info-2 .icon-2-parent .icon-2 .app-2 p {
    margin-bottom: 10px;
    margin-top: 10px;
    color: #d4e7ed
}

.features-2 .info-2 .icon-2-parent .icon-2 i {
    border: 1px solid #FFF;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    line-height: 70px;
    text-align: center;
    float: left;
    margin-top: 35px
}

.features-2 .info-2 .icon-3 {
    width: 33%;
    float: left;
    text-align: center
}

.features-2 .info-2 .icon-3 img {
    height: 400px;
    width: 200px
}

.features-3 {
    overflow: hidden
}

.features-3 .info {
    float: left;
    width: 50%;
    padding: 100px 0 0 0;
}

.features-3 .info i {
    margin: 30px 0 0 0;
    color: #315cb8;
}

.features-3 .info h2 {
    color: #315cb8;
    margin: 10px 0;
    font-size: 35px;
    font-weight: normal
}

.features-3 .info p {
    color: #6e8094;
    margin: 30px 0;
    line-height: 1.5
}

.features-3 .beau-img {
    float: right;
    width: 50%;
    text-align: center;
    padding: 100px 0 0 0;
}

.features-3 .beau-img img {
    height: 450px;
    width: 241px
}

.features-3 .beau-img-2 {
    float: left;
    width: 50%;
    text-align: center;
    padding: 150px 0 150px 0;
}

.features-3 .beau-img-2 img {
    height: 450px;
    width: 241px
}

.features-3 .info-2 {
    float: right;
    width: 50%;
    padding: 150px 0 0 0;
}

.features-3 .info-2 i {
    margin: 30px 0 0 0;
    color: #315cb8;
}

.features-3 .info-2 h2 {
    color: #315cb8;
    margin: 10px 0;
    font-size: 35px;
    font-weight: normal
}

.features-3 .info-2 p {
    color: #6e8094;
    margin: 30px 0;
    line-height: 1.5
}

.features-4 {
    overflow: hidden;
    padding: 100px 0;
    background-color: #f3f4f6;
}

.features-4 h1 {
    text-align: center;
    color: #315cb8;
    font-weight: normal;
    margin-bottom: 10px
}

.features-4 .info {
    float: left;
    width: 40%
}

.features-4 .info h2 {
    color: #315cb8;
    font-weight: normal;
    margin-bottom: 10px
}

.features-4 .info p {
    color: #6e8094;
    line-height: 1.5;
    font-size: 15px
}

.features-4 .info .how {
    overflow: hidden
}

.features-4 .info .how .icon {
    float: left;
    width: 15%;
    margin: 28px 0 0 0
}

.features-4 .info .how .icon i {
    color: #FFF;
    font-size: 25px;
    border: 1px solid #315cb8;
    border-radius: 5px;
    padding: 5px 7px;
    background-color: #315cb8
}

.features-4 .info .how .install {
    float: left;
    width: 80%
}

.features-4 .info .how .install h4 {
    margin-bottom: 0
}

.features-4 .info .how .install p {
    margin-top: 5px
}

.features-4 .picture{
    float: right;
    width: 60%;
    text-align: center
}

.features-4 .picture img {
    height: 450px;
    width: 241px
}

/* End Features */

/* Start Screenshot */

.screen {
    text-align: center;
    padding: 60px;
}

.screen h1 {
    color: #315cb8;
    font-weight: normal;
    margin-bottom: 10px
}

.screen p {
    color: #6e8094;
    line-height: 1.5;
    font-size: 15px;
    padding: 0 280px
}

.screen .sliders img {
    height: 300px
}

/* End Screenshot */

/* Start Download */

.download {
    height: 280px;
    text-align: center;
    background-image: url(../image/maxresdefault.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center
}

.download h1 {
    color: #FFF;
    margin-bottom: 0;
    padding: 40px 0 0 0;
    font-weight: normal
}

.download .buttons button {
    border: none;
    padding: 8px 30px;
    border-radius: 50px;
    background-color: #FFF;
    margin: 10px;
    cursor: pointer;
    box-shadow: 0px 0px 10px -1px;
    transition: all .3s ease-in-out
}

.download .buttons button:hover {
    background-color: #315cb9;
    transform: scale(0.99)
}

.download .buttons button:hover a {
    color: #FFF
}

.download .buttons button:hover i {
    color: #FFF
}

.download .buttons button i {
    float: left;
    color: #58677c
}

.download .buttons button p {
    margin: 0 45px 
}

.download .buttons p:first-child {
    font-size: 14px;
    margin-bottom: 0;
    letter-spacing: 1px
}

.download .buttons p:last-child {
    
}

.download .buttons a {
    text-decoration: none;
    color: #58677c;
}

/* End Download */

/* Start Team */

.team {
    text-align: center;
}

.team h1 {
    color: #315cb8;
    font-weight: normal;
    margin-bottom: 10px;
    text-align: center
}

.team .info p {
    color: #6e8094;
    line-height: 1.5;
    font-size: 15px;
    padding: 0 280px 50px 280px
}

.team .team-info {
    float: left;
    width: 30%;
    border: 1px solid #CCC;
    border-radius: 10px;
    box-shadow: 0px 0px 10px -1px;
    position: relative;
    margin: 5px 16px 50px 16px
}

.team .team-info img {
    height: 250px;
    width: 100%;
    border-radius: 10px 10px 0px 0px
}

.team .team-info h2 {
    color: #315cb8;
    font-weight: normal;
    margin-bottom: 2px
}

.team .team-info h4 {
    margin: 0;
    color: #6e8094;
    font-weight: normal
}

.team .team-info p {
    padding: 0 30px 20px 30px;
    color: #6e8094;
}

.team .team-info .socials {
    position: absolute;
    padding: 0 94px;
    margin-top: -15px
}

.team .team-info .socials i {
    color: #6e8094;
    margin: 0 2px;
    border: 1px solid #8c98a5;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    line-height: 30px;
    background-color: #FFF;
    font-size: 12px;
    cursor: pointer;
    transition: all .5s ease-in-out
}

.team .team-info .socials i:hover {
    color: #FFF;
    border: 1px solid #135cb9;
    background-color: #135cb9;
    box-shadow: 0px 0px 10px -1px;
}

/* End Team */

/* Start Contact */

.contact {
    text-align: center;
    margin-top: 80px;
    background-color: #FFF;
}

.contact .info h1 {
    color: #315cb8;
    padding-top: 50px
}

.contact .info p {
    color: #71819a
}

.contact .info input[type="email"] {
    border: none;
    padding: 12px 25px;
    width: 550px;
    border-radius: 100px;
    margin: 10px 0 50px 0;
    background-color: #f6f7f9;
    color: #71819a;
    box-shadow: 0px 0px 10px 1px
}

.contact .info input[type="email"]:focus {
    outline: none
}

.contact .info input[type="submit"] {
    border: none;
    padding: 12px 45px;
    border-radius: 100px;
    margin-left: -138px;
    color: #FFF;
    background-color: #315cb8;
    cursor: pointer;
}

.contact-info {
    overflow: hidden;
    text-align: left;
    background-image: url(../image/maxresdefault.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    color: #fdfeff;
    position: relative;
    z-index: 2
}

.contact-info .overlay {
    height: 620px
}

.contact-info .info-2 {
    float: left;
    width: 40%;
    border-right: 2px solid rgba(253, 254, 255, 0.2);
    padding: 80px 50px;
}

.contact-info .info-2 h1 {
    color: #fdfeff;
    font-weight: normal;
}

.contact-info .info-2 .info-3 p {
    margin-bottom: 50px;
    font-size: 15px
}

.contact-info .info-2 .icons {
    overflow: hidden;
}

.contact-info .info-2 .icons i {
    float: left;
    border: 1px solid #fdfeff;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 22px;
    margin: 20px 10px 0 0
}

.contact-info .info-2 .icons .us {
    float: left;
}

.contact-info .info-2 .icons .us h2 {
    font-weight: normal;
    margin-bottom: 0
}

.contact-info .info-2 .icons .us p {
    margin-top: 5px
}

.contact-info .inputs {
    float: right;
    width: 60%;
    padding: 80px 80px;
}

.contact-info .inputs h1 {
    font-weight: normal
}

.contact-info .inputs form {
    font-weight: normal
}

.contact-info .inputs form input {
    border:none;
    text-align: left;
    float: right;
    width: 90%;
    background-color: transparent;
    color: #fdfeff;
    padding: 5px 10px
}

.contact-info .inputs form input:focus {
    outline: none
}

.contact-info .inputs form textarea {
    border:none;
    text-align: left;
    float: right;
    height: 100px;
    width: 100%;
    background-color: transparent;
    color: #fdfeff;
    resize: vertical;
}

.contact-info .inputs form textarea:focus {
    outline: none
}

.contact-info .inputs form .border {
    border: 1px solid #fdfeff;
    
}

.contact-info .inputs form input[type="submit"] {
    border: none;
    width: 150px;
    float: left;
    text-align: center;
    padding: 15px 10px;
    border-radius: 10px;
    color: #fdfeff;
    background-color: rgb(75, 114, 193);
    cursor: pointer;
    margin-top: 35px
}

/* End Contact */

/* Start Footer */

.footer {
    background-color: #323a47;
    color: #fdfeff;
    text-align: center;
    padding: 150px 100px 20px 100px;
    position: relative;
    margin-top: -80px;
    z-index: 1
}

.footer .info h1 {
    font-weight: normal;
    margin-bottom: 0
}

.footer .info p {
    font-size: 14px;
    margin-top: -10px
}

.footer .buttons button {
    border: none;
    padding: 4px 15px;
    border-radius: 50px;
    background-color: #FFF;
    margin: 10px;
    cursor: pointer;
    box-shadow: 0px 0px 10px -1px;
    transition: all .3s ease-in-out
}

.footer .buttons button:hover {
    background-color: #315cb9;
    transform: scale(0.99)
}

.footer .buttons button:hover a {
    color: #FFF
}

.footer .buttons button:hover i {
    color: #FFF
}

.footer .buttons button i {
    float: left;
    color: #58677c;
    font-size: 30px
}

.footer .buttons button p {
    margin: 0 32px 
}

.footer .buttons p:first-child {
    font-size: 14px;
    margin-bottom: 0;
    letter-spacing: 1px
}

.footer .buttons p:last-child {
    font-size: 17px
}

.footer .buttons a {
    text-decoration: none;
    color: #58677c;
}

.footer .socials {
    margin-top: 20px
}

.footer .socials i {
    border: 1px solid #505662;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    line-height: 35px;
    margin: 0 5px;
    color: #9a9a9a;
    background-color: #505662;
    font-size: 19px
}

.footer .socials i:hover {
    cursor: pointer;
}

.footer .copy p {
    margin-top: 25px
}

.footer .copy p span {
    color: #135cb9;
    cursor: pointer
}
/* End Footer */